<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <h1>テスト！！！！！！！！！！！！！</h1>

    <% require 'pg' %>

    <% connection = PG::connect(dbname: "goya") %>
    <% connection.internal_encoding = "UTF-8" %>

    <form action="indicate.cgi" method="POST">
       下記に文字を入力してください<br><br>
      <input type="text"  name="input" ><br>
      <input type="submit" name="送信" >
    </form>

    <% result = connection.exec("select date, weight, give_for from crops
    where give_for !='自家消費'and quality = false ;") %>
    <% date = [] %>

    <% result.each do |record| %>
      <%  date << "ゴーヤの大きさ：#{record["weight"]}　売った相手：#{record["give_for"]}" %>
    <% end %>

    <form action="goya.cgi" method="POST">
       下記のボタンを押すと、『譲渡先が自家消費ではない』ゴーヤの大きさと売った相手の情報ページに飛びます<br><br>
       <!-- valueには、送りたいデータを代入する -->
       <!-- name="goya"を、情報の目印とする -->
      <input type="text" name="goya" value="<%= date.join(' ') %>">
      <input type="submit" name="送信" >
    </form>

    <% result = connection.exec("select date, weight, give_for from crops
    where quality = false ;") %>
    <% date = [] %>

    <% result.each do |record| %>
      <%  date << "ゴーヤの大きさ：#{record["weight"]}　売った相手：#{record["give_for"]}" %>
    <% end %>

    <form action="falsegoya.cgi" method="POST">
       下記のボタンを押すと、『品質の悪い』ゴーヤの大きさと売った相手の情報ページに飛びます<br><br>
       <!-- valueには、送りたいデータを代入する -->
       <!-- name="goya"を、情報の目印とする -->
      <input type="text" name="falsegoya" value="<%= date.join(' ') %>">
      <input type="submit" name="送信" >
    </form>


  </body>
</html>
<!--明日すること 新しいhtml→ quality = false　の情報を返すものを実装する。 -->
